.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

// Buttons

Button {
  padding: 10px 40px;
  border-radius: 0px;
  background-color: $buttonColor;
  border-style: none;
}
