html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* if we set our root element font-size to 125%, then 1 rem = 20px */
@font-face {
  font-family: "Cabin";
  src: url("../../../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../../fonts/Oswald/static/Oswald-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: "Oswald";
  font-size: 1rem;
  color: #171717;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald";
  font-weight: bold;
  color: #171717;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: "Cabin";
  font-weight: 400;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 4rem;
  line-height: 4.6rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

h6 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

button {
  font-family: "Oswald";
  font-family: bold;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

.navLinks {
  list-style: none;
}
.navLinks a {
  font-family: "Oswald";
  color: black;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #b9dde7;
  height: 3rem;
}
nav .wrapper {
  display: flex;
  height: 3rem;
}
nav .navLinks {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0px;
  margin: 0 auto;
}
nav .navLinks a {
  margin: 0 10px;
}

header {
  background-color: #b9dde7;
  padding-top: 30px;
  height: 562px;
}
header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .imgContainer {
  width: 38%;
  box-shadow: 15px 14px 0 0 white;
}
header .wrapper .imgContainer img {
  width: 100%;
}

.heroText {
  position: relative;
  padding-right: 8rem;
}
.heroText img {
  width: 34%;
  position: absolute;
  left: 275px;
  bottom: 35px;
}

.intro {
  background-color: #f6f6f6;
}
.intro .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.intro .wrapper .introText {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 35vh;
  justify-content: center;
}

.backgroundImgHome {
  height: 34vh;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-image: url("../assets/home-image-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  background-color: #f6f6f6;
}
.info .wrapper .infoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 484px;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.info .wrapper .infoContainer .infoText {
  width: 45%;
}

.articles .articlesTop {
  display: flex;
}
.articles .articlesTop img {
  position: absolute;
}
.articles .articlesBottom {
  display: flex;
}
.articles .imgContainer {
  width: 50%;
  position: relative;
}
.articles .imgContainer img {
  width: 100%;
}
.articles .articlesText {
  width: 50%;
}/*# sourceMappingURL=style.css.map */